<h2>Torrents</h2>

<div class="row">
  	<table class="table">
		  <tr>
		    <th>File</th>
		    <th>Size</th>
		    <th>Seeds</th>
		    <th>Lechers</th>
		    <th>&nbsp</th>
		  </tr>

		<% @search.torrents.each do |torrent| %>
		  <tr>
		  	<td> <%= raw torrent['title'] %> </td>
		    <td><p><%= torrent['size'] %></p></td>
		    <td><p><%= torrent['Seeds'] %></p></td>
		    <td><p><%= torrent['leechers'] %></p></td>
		    <td><p><%= link_to 'Download', torrent['enclosure_url'] %></p></td>
		  </tr>
		<% end %>
		</table>  
           

</div>